<!-- Modal -->
<div class="modal fade" id="exampleModal{{ product.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Are you sure to delete this product?</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="h6">Product name: {{ product.title }}</p>
        <p class="h6">Brand: {{ product.brand }}</p>
        <p class="h6">Category: {{ product.category }}</p>
        <p class="h6">Quantity: {{ product.quantity }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <form action="{% url 'product_delete' product.pk %}" method="post">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger" value="Confirm">I'm sure, delete</button>
        </form>
      </div>
    </div>
  </div>
</div>